/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  max-height: 3rem;
}

.float-left {
  float: left;
}

.float-right { 
  float: right;
}

.main-body img {
  height: 6rem;
}

.sample {
  max-width: 40rem;
  height: 20rem;
  padding: 1rem;
  overflow: auto;
  background: rgb(8,142,217);
  background: linear-gradient(0deg, rgba(8,142,217,1) 0%, rgba(101,248,249,1) 60%);
}

.custom-card {
  width: 20rem;
}

.showcase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.showcase img {
  width: 25rem;
  margin: 0 auto;
}

figure img {
  max-width: 50px;
  transition: all .3s ease-in-out;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

figure:last-child img{
  max-width: 100px;
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: black;
}
